<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swerve.storm" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.swerve.storm.authorization.AuthorizationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swerve.storm.contacts.ContactsActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name="com.swerve.storm.mainmenu.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.swerve.storm.mainmenu.RetrieveCashActivity"
            android:label="@string/title_activity_retrieve_cash" >
        </activity>
        <activity
            android:name="com.swerve.storm.mainmenu.SendCashActivity"
            android:label="@string/title_activity_send_cash" >
        </activity>
        <activity
            android:name="com.swerve.storm.mainmenu.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
